@media (max-width:1250px){

    .wrap{
        width: 90%;
        margin: 0px auto;
    }
    #cards{
        width: 17%;
        margin: 1.45%;
    }
    #cards p{
        display: block;
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }
    #articulo{
        width: 65%;
        
    }
    #articulo article{
        width: 97%;
    }
    #footer{
        width: 100%;
    }
    #footer .wrap > div{
        width: 29%;
    }
    #footer #browsers img{
        width: 14%;
    }
   
    #footer h5{
        font-size: 30px;
    }
    #banner h1{
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }
}

@media (max-width:1080px){
    #cards .category{
        font-size: 17px;
    }
    #cards .descripcion{
        font-size: 14px;
    }
    #articulo{
        width: 61%;
    }
    #footer .wrap > div{
        width: 27%;
    }
}

@media (max-width:970px){
    #cards .category{
        font-size: 14px;
    }
    #cards .descripcion{
        font-size: 12px;
    }
    #articulo{
        width: 56%;
    }
    #footer h5{
        font-size: 22px;
    }
    #footer .wrap > div{
        width: 26%;
        margin: 20px;
    }
}
@media (max-width:925px){
    #articulo{
        width: 65%;
    }
    #lateral{
        width: 25%;
    }
    #lateral input[type="text"] {
        width: 78%;
    }
    .aside-box {
        width: 95%;
        min-height: 140px;
        height: auto;
        padding-bottom: 10px;
    }
    #login a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #login input[type="email"], 
    #login input[type="password"] {
        width: 65%;
    }
    #login #user,
    #login #password {
        margin-left: 24px;
    }
    #login input[type="submit"],
    #login input[type="button"],
    #login input[type="reset"],
    #login button{
        margin-bottom: 0px;
    }
    #login input[type="reset"]{
        display: none;
    }
}
@media (max-width:899px){
    #lateral h3{
        font-size: 23px;
    }
}
@media (max-width:799px){
    #banner h1{
        font-size: 25px;
    }
    #cards .descripcion{
        display: none;
    }
    #cards{
        height: auto;
    }
    #cards .category{
        font-size: 15px;
        margin-top: -23px;
    }
    #footer img{
        max-width: 100%;
        margin-bottom: 15px;
    }
    #articulo article h4 {
        font-size: 20px;
    }
}


@media (max-width:724px){
    #header{
        width: 100%;
        height: 120px;
        padding-top: 10px;
    }
    #menu{
        clear: both;
        float: none;
        width: 440px;
        margin: 0px auto;
    }
    #logo {
        float: none;
        width: 200px;
        margin: 0px auto;
    }
    #lateral h3{
        font-size: 20px;
    }
    #lateral input[type="text"] {
        width: 70%;
    }
    #articulo .data{
        font-size: 11px;
    }
}
@media(max-width:660px){
    #banner h1{
        font-size: 22px;
    }
    #lateral{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
        margin-top: 20px;
    }
    #lateral input[type="text"] {
        width: 93%;
    }
    #login input[type="email"],
    #login input[type="password"] {
        width: 90%;
    }
    #articulo{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
    }
    #articulo .data {
        font-size: 13px;
    }
   
    #footer{
        height: auto;
    }
    #footer .wrap > div{
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
    }
    #footer h5{
        font-size: 25px;
    }
}
@media (max-width: 575px){
    #logo{
        float: left;
    }
    #header{
        width: 100%;
        height: 275px;
        padding-top: 10px;
    }
    
    #menu{
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
    }
    #menu ul li{
        width: 100%;
        margin: 0px;
        line-height: 50px;
    }
    #menu ul li a:hover{
        color: #37bcF9;
        transform: scale(1,1);
    }
    #banner{
        height: 85px;
    }
    #banner h1{
        font-size: 18px;
    }
    #lateral input[type="text"] {
        width: 85%;
    }
    #cards .icon{
        font-size: 35px;
    }
    #cards:hover .icon{
        font-size: 35px;
    }
    #cards .category{
        font-size: 13px;
    }
    #cards {
        margin: 1.35%;
    }
    #articulo .data{
        float: none;
        margin: -10px;
        border-radius: 0px 0px 0px 0px;
    }
    #articulo article h4 {
        margin-top: 20px;
    }
    #login #user, #login #password {
        margin-left: 15px;
    }
}